<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/javascripts/jquery3.min.js"></script>
	<script src="/javascripts/bootstrap3.min.js"></script>
	<style type="text/css">
	body{
		margin: 10px;
	}
</style>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
	<div class="container">
		<div class="row">
			<!-- Danh mục chức năng-->
			<div class="col-md-4">
				<ul class="nav navbar-link">
					<li >
						<a data-toggle="tab" href="#QLSPNSX"> 
							<span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbspQuản Lí Danh Mục Sản Phẩm
						</a>
					</li>

					<li >
						<a data-toggle="tab" href="#QLNG"> 
							<span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbspQuản Lí nguồn gốc sản phẩm
						</a>
					</li>
					<li >
						<a data-toggle="tab" href="#ThongTinTaiKhoan"> 
							<span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbspChỉnh Sửa Sản Phẩm
						</a>
					</li>


					<li>
						<a data-toggle="tab" href="#QuanLySanPham"><span class="glyphicon glyphicon-backward"></span>&nbsp&nbsp&nbspNơi Quản lí sản phẩm</a>
					</li>


					<li>
						<a data-toggle="tab" href="#QuanLiDonHang"><span class="glyphicon glyphicon-backward"></span>&nbsp&nbsp&nbspNơi Quản lí Đơn hàng</a>
					</li>
				</ul>
			</div>



			<div class="tab-content col-md-8"> 
				<div id= "QLSPNSX" class="tab-pane fade">
					<div class="col-md-6">
						<h3 style="color: #00bfff;">Thêm Danh Mục Sản Phẩm</h3>
						<form action="/admin/category" method="POST">
							<div class="form-group">
								<label>Nhập ID danh mục:</label>
								<input type="text" class="form-control" name="category_id" placeholder="ID Danh Mục" disabled>
								<label>Nhập tên danh mục:</label>
								<input type="text" class="form-control" name ="category_name" placeholder="Tên Danh Mục">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block">Thêm</button>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<h3 style="color: #00bfff;">Xóa Danh Mục</h3>
						<form>
							<table class="table">
								<thead>
									<tr>
										<th>ID Danh Mục</th>
										<th>Tên Danh Mục</th>
										<th>Xóa</th>
									</tr>
								</thead>
								<tbody>
									{{#each data.categories}}
									<tr>
										<td>{{this.id}}</td>
										<td>{{this.category_name}}</td>
										<td>
											<button type="button" class="btn-delete_category btn btn-warning glyphicon glyphicon-remove" category_id = "{{this.id}}"></button>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</form>
					</div>
				</div >

				<div id= "QLNG" class="tab-pane fade">
					<div class="col-md-6">
						<h3 style="color: #00bfff;">Thêm Nơi xuất xứ</h3>
						<form action="/admin/vendor" method="POST">
							<div class="form-group">
								<label>Nhập ID nơi xuất xứ:</label>
								<input type="text" class="form-control" placeholder="ID Xuât Xứ" disabled>
								<label>Nhập tên xuất xứ:</label>
								<input type="text" class="form-control" name="vendor_name"  placeholder="Tên Xuất Xứ">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block">Thêm</button>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<h3 style="color: #00bfff;">Xóa Nơi Xuất sứ</h3>
						<form>
							<table class="table">
								<thead>
									<tr>
										<th>ID Xuất Xứ</th>
										<th>Tên Xuất Xứ</th>
										<th>Xóa</th>
									</tr>
								</thead>
								<tbody>
									{{#each data.vendors}}
									<tr>
										<td>{{this.id}}</td>
										<td>{{this.vendor_name}}</td>
										<td>
											<button type="button" class=" btn btn-warning glyphicon glyphicon-remove btn-delete_vendor" vendor_id = "{{this.id}}"></button>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</form>
					</div>
				</div >

				<div id="ThongTinTaiKhoan" class="tab-pane fade">
					<div class="col-md-6">
						<h3 style="color: #00bfff;">Thêm sản phẩm</h3>
						<form method="POST" action="/admin">
							<div class="form-group">
								<label for="usr">Tên sản phẩm:</label>
								<input type="text" class="form-control" id="insert_product_name" placeholder="Nhập tên sản phẩm">
							</div>
							<div class="form-group">
								<label for="pwd">Loại sản phẩm:</label>
								<select class="form-control py-0" id="insert_category">
									{{#each data.categories}}
									<option category_id = "{{this.id}}">{{this.category_name}}</option>
									{{/each}}
								</select>
							</div>
							<div class="form-group">
								<label for="pwd">Nhập Nguồn gốc:</label>
								<input type="text" class="form-control" id="insert_origin" placeholder="Nhập nguồn gốc">
							</div>
							<div class="form-group">
								<label for="pwd">link hình ảnh:</label>
								<input type="text" class="form-control" id="insert_images_link" placeholder="nhập link hình ảnh">
							</div>
							<div class="form-group">
								<label for="pwd">mô tả sản phẩm:</label>
								<textarea class="form-control" id="insert_description"></textarea>
							</div>
							<div class="form-group">
								<label for="pwd">Nhà cung cấp:</label>
								<select class="form-control py-0" id="insert_vendor">
									{{#each data.vendors}}
									<option vendor_id = "{{this.id}}">{{this.vendor_name}}</option>
									{{/each}}
								</select>
							</div>
							<div class="form-group">
								<label for="pwd">Số lượng còn lại:</label>
								<input type="number" min="0" class="form-control" id="insert_inventory_number" placeholder="số lượng còn lại">
							</div>
							<div class="form-group">
								<label for="pwd">giá:</label>
								<input type="number" min="0" class="form-control" id="insert_price" placeholder="Nhập giá">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-success btn-block" id="btn-add-product">Thêm sản phẩm</button>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<h3 style="color: #00bfff;">Xóa Sản Phẩm</h3>
						<form >
							<table class="table">
								<thead>
									<tr>
										<th>ID Sản Phẩm</th>
										<th>Tên Sản Phẩm</th>
										<th>Xóa</th>
									</tr>
								</thead>
								<tbody>
									{{#each data.products}}
									<tr>
										<td>{{this.id}}</td>
										<td>{{this.name}}</td>
										<td>
											<button type="button" class="btn-delete_product btn btn-warning glyphicon glyphicon-remove" product_id = "{{this.id}}"></button>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</form>
					</div>

				</div>

				<div id="QuanLySanPham" class="tab-pane fade">
					<table class="table">
						<thead>
							<tr>
								<th>Sản Phẩm</th>
								<th>Loại Sản Phẩm</th>
								<th>Nhà Sản Xuất</th>
								<th>Hàng tồn trong kho</th>
							</tr>
						</thead>
						<tbody>
							{{#each data.products}}
							<tr>
								<td>
									{{this.name}}
								</td>
								<td>
									{{this.category}}
								</td>
								<td>
									{{this.origin}}
								</td>
								<td>
									{{this.inventory_number}}
								</td>
							</tr>

							{{/each}}

						</tbody>
					</table>
				</div>
				<div id="QuanLiDonHang" class="tab-pane fade">
					<table class="table">
						<thead>
							<tr>
								<th>Mã đơn hàng</th>
								<th>Ngày mua</th>
								<th>Sản phẩm</th>
								<th>Tổng tiền</th>
								<th>Trạng thái đơn hàng</th>
							</tr>
						</thead>

						<tbody >
							{{#each data.orders}}
							<tr class="X" {{#if_eq this.status 1}} class="order-status-row" {{/if_eq}} {{#if_eq this.status 2}} class="order-status-row" {{/if_eq}} {{#if_eq this.status 3}} class="order-status-row" {{/if_eq}}>
								<td>
									{{this.id}}
								</td>
								<td>
									{{this.order_datetime}}
								</td>
								<td>
									{{this.receiver_name}}
								</td>
								<td>
									{{this.cost}}
								</td>
								<td>
									<div class="form-group">
										<select class="form-control order-status py-0" order_id="{{this.id}}">
											<option status = "{{this.status}}" value="ChuaGiao" {{#if_eq this.status 1}} selected= "true" {{/if_eq}}>Chưa Giao</option>
											<option status = "{{this.status}}"  value="DangGiao" {{#if_eq this.status 2}} selected= "true" {{/if_eq}}>Đang Giao</option>
											<option status = "{{this.status}}"  value="DaGiao" {{#if_eq this.status 3}} selected= "true" {{/if_eq}}>Đã Giao</option>
										</select>
									</div>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var base_url = location.protocol + "//" + document.domain + ":" + location.port;
		$(".btn-delete_category").click(function(){
			var category_id = $(this).attr("category_id");
			$.ajax({
				url: base_url + "/admin/category/" + category_id,
				type: 'DELETE',
				success: function(res){
					location.reload();
				},
				error: function (errormessage) {
					location.reload();
				}
			});
		});
		$("#btn-add-product").click(function(){
				var product = {
						category_id : $("#insert_category").find("option:selected").attr("category_id"),
						product_name : $("#insert_product_name").val(),
						origin: $("#insert_origin").val(),
						images: $("#insert_images_link").val(),
						description: $("#insert_description").val(),
						inventory_number : $("#insert_inventory_number").val(),
						price : $("#insert_price").val(),	
						category: $("#insert_category").val(),
						vendor_id: $("#insert_vendor").find("option:selected").attr("vendor_id"),
				};
				$.ajax({
					url: base_url + "/admin/product",
					type: "post",
					data: product,
					dataType: 'json',
					success: function(){
						location.reload();
					}
				})
		});



		$(".btn-delete_product").click(function(){
			var product_id = $(this).attr("product_id");
			$.ajax({
				url: base_url + "/admin/product/" + product_id,
				type: 'DELETE',
				success: function(res){
					location.reload();
				},
				error: function (errormessage) {
					location.reload();
				}
			});
		});

		$(".btn-delete_vendor").click(function(){
			var vendor_id = $(this).attr("vendor_id");
			$.ajax({
				url: base_url + "/admin/vendor/" + vendor_id,
				type: "delete",
				dataType: "json",
				success: function(){
					location.reload();
				}
			})
		})
		$(".X").on("change", ".order-status", function(e){
			var order_id = $(e.target).attr('order_id');
			var status = $(e.target).val();
			var order_status_id = 1;
			if(status == 'ChuaGiao'){
				order_status_id = 1;
				$(e.target).parents(".X").addClass("warning");
				$(e.target).parents(".X").removeClass("info");
				$(e.target).parents(".X").removeClass("success");
			}
			if(status == 'DangGiao'){
				order_status_id = 2;
				$(e.target).parents(".X").removeClass("warning");
				$(e.target).parents(".X").addClass("info");
				$(e.target).parents(".X").removeClass("success");
			}
			if(status == 'DaGiao'){
				order_status_id = 3;
				$(e.target).parents(".X").removeClass("warning");
				$(e.target).parents(".X").removeClass("info");
				$(e.target).parents(".X").addClass("success");
			}

			var data = {
				order_id: order_id,
				order_status: order_status_id
			}
			$.ajax({
				url: base_url + "/admin/order",
				type: "put",
				dataType: "json",
				data: data,
				success: function(res){
					
				}
			})
		});
		$(".order-status").change(function(e){
			
		})
	</script>
</body>
</html>
