<div class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Alcool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-stretch">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" class="dropdown-toggle" href="#">Loại</a>
                    <div class="dropdown-menu">
                        {{#each menu.categories}}
                        <a class="dropdown-item" href="/category/{{this.id}}">{{this.category_name}}</a>
                        {{/each}}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" class="dropdown-toggle" href="#">Nhà sản xuất</a>
                    <div class="dropdown-menu">
                         {{#each menu.vendors}}
                        <a class="dropdown-item" href="/vendor/{{this.id}}">{{this.vendor_name}}</a>
                        {{/each}}
                    </div>
                </li>
                {{#if username}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" class="dropdown-toggle" href="#">{{name}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/info">Tài khoản</a>
                        <a class="dropdown-item" href="/session/delete">Đăng xuất</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" class="dropdown-toggle" href="#">Đăng nhập</a>
                    <div class="dropdown-menu px-3 pt-3">
                        <form method="post" action="/session/create">
                            <div class="control-group">
                                <input type="text" name="username" placeholder="Tên đăng nhập" class="span2" id="inputEmail">
                            </div>
                            <div class="control-group">
                                <input type="password" name="password" placeholder="Mật khẩu" class="span2" id="inputPassword">
                            </div>
                            <div class="control-group">
                                <button type="submit" class="shopBtn btn-block">Đăng nhập</button>
                            </div>
                        </form>
                        <hr class="soften" />
                        <a href="/user/new">
                            <button class="btn-block shopBtn">Đăng ký</button>
                        </a>
                    </div>
                </li>
                {{/if}}
            </ul>
            <form class="form-inline ml-3 flex-grow-1 mr-auto search-window">
                <input type="text" class="search-btn search-query w-75">
                <div class="search-results">
                    <div class="search-results-wrapper">
                        <div class="search-results-inner">
                          
                        </div>
                        <div class="scroll-bar-bgr"></div>
                        <div class="scroll-bar"></div>
                    </div>
                </div>
            </form>
            {{#if username}}
            <ul class="navbar-nav ml-auto navbar-nav-standout">
                <li class="nav-item">
                    <a class="nav-link" href="/user/cart"></span>  <span class="badge badge-notification">{{menu.cart}}</span> sản phẩm</a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>