<div class="product-item">
    <div class="img-wrapper">
        <a href="/product/{{this.id}}"><img src="{{this.images}}">
        </a>
    </div>
    <div class="caption">
        <div class="title">{{this.name}}</div>
        <div class="price">{{money this.price }}</div>
        <div class="caption-box">
            <div class="category">Loại: {{this.category_name}}</div>
            <div class="vendor">NSX: {{this.vendor_name}}</div>
        </div>
        <form method="POST" action="/user/cart/create" class="quantity-control">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="product_id" value="{{this.id}}">
            <input type="hidden" name="product_quantity" value="1">
            <input type="hidden" name="product_increase" value="1">
            <button class="add-btn-cart">
                Thêm
            </button>
        </form>
    </div>
</div>