<div class="col-sm-12">
	
	<!--
	New Products
	-->
	
	<!--
	Most View Products
	-->
	
	<div class="row">
		<div class="col">
			<div class="section-title">
				<h3>SẢN PHẨM</h3><span class="badge badge-warning">MỚI</span>
			</div>
			<hr class="mt-0">
			<div id="badge-ribbon"></div>
			<div class="row">
				{{#each items.newest}}
				<div class="col-2m4">
					<div class="product-item">
						<div class="img-wrapper">
							<a href="/product/{{this.id}}"><img class="w-100" src="{{this.images}}">
							</a>
						</div>
						<div class="caption">
							<div class="title">{{this.name}}</div>
							<div class="price">{{this.price}}</div>
						</div>
					</div>
				</div>
				{{#if_eq @index 4}}
				<div class="w-100"></div>
				{{/if_eq}}
				{{/each}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="section-title">
				<h3>BÁN CHẠY</h3><span class="badge badge-primary">MỚI</span>
			</div>
			<hr class="mt-0">
			<div id="badge-ribbon"></div>
			<div class="row">
				{{#each items.mostSold}}
				<div class="col-2m4">
					<div class="product-item">
						<div class="img-wrapper">
							<a href="/product/{{this.id}}"><img class="w-100" src="{{this.images}}">
							</a>
						</div>
						<div class="caption">
							<div class="title">{{this.name}}</div>
							<div class="price">{{this.price}}</div>
						</div>
					</div>
				</div>
				{{#if_eq @index 4}}
				<div class="w-100"></div>
				{{/if_eq}}
				{{/each}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="section-title">
				<h3>XEM NHIỀU</h3><span class="badge badge-success">MỚI</span>
			</div>
			<hr class="mt-0">
			<div id="badge-ribbon"></div>
			<div class="row">
				{{#each items.mostView}}
				<div class="col-2m4">
					<div class="product-item">
						<div class="img-wrapper">
							<a href="/product/{{this.id}}"><img class="w-100" src="{{this.images}}">
							</a>
						</div>
						<div class="caption">
							<div class="title">{{this.name}}</div>
							<div class="price">{{this.price}}</div>
						</div>
					</div>
				</div>
				{{#if_eq @index 4}}
				<div class="w-100"></div>
				{{/if_eq}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
