<h5>GIỎ HÀNG</h5>
<hr class="soften">
{{#if msg}}
<div class="alert alert-primary">
	{{msg}}
</div>
{{/if}}
<form method="POST" action="/user/cart/update">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div class="table-cart">
		<table class="table mb-5 flex-grow-1">
			<thead>
				<tr class="cart-item header">
					<th scope="col" class="item-image">Hình ảnh</th>
					<th scope="col" class="item-name">Sản phẩm</th>
					<th scope="col" class="item-quantity">Số lượng</th>
					<th scope="col" class="item-price">Giá</th>
					<th scope="col" class="item-totalprice">Tổng giá</th>
					<th>Xóa</th>
				</tr>
			</thead>
			<tbody>
				{{#each cart}}
				<tr class="cart-item">
					<input type="hidden" name="cart[{{@index}}][product_id]" value="{{this.product_id}}">
					<td class="item-image">
						<a href="/product/{{this.product_id}}"><img src="{{this.images}}" class=""></a>
					</td>
					<td class="item-name">{{this.name}}</td>
					<td type="number" class="item-quantity"/><input type="number" name="cart[{{@index}}][product_quantity]" value="{{this.product_quantity}}"></td>
					<td class="item-price">{{this.price}}</td>
					<td class="item-totalprice">{{this.totalprice}}</td>
					<td>
						<button data-product="{{this.product_id}}" class="shopBtn removeBtn">Bỏ</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="d-flex my-auto ml-auto">
			<input class="shopBtn mr-2" type="submit" value="Cập nhật">
			<a class="shopBtn" href="/order/new">Đặt hàng</a>
		</div>
	</div>
</form>
<form method="post" id="product-remove-form" action="/user/cart/remove">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="hidden" id="product-remove-id" name="product_id" value="">
</form>
<script>
	document.addEventListener("DOMContentLoaded", function(){
		Array.prototype.forEach.call(document.getElementsByClassName("shopBtn removeBtn"), function(elem){
			elem.addEventListener("click", function(e){
				document.getElementById("product-remove-id").value = e.target.getAttribute("data-product");
				document.getElementById("product-remove-form").submit();
				e.stopPropagation();
				e.preventDefault();
			});
		});
	});
</script>