<script>
	moment.locale("vi");
</script>
<h5>LỊCH SỬ MUA HÀNG</h5>
<hr class="soften">
<div class="content">
	{{#if items}}
	<section class="history">
		</div>
		<div class="btn-group">
		  <a class="btn btn-outline-dark {{#if_eq sortMode 'DESC'}} active{{/if_eq}}" href="?sort=DESC">
		    Mới nhất
		  </a>
		  <a class="btn btn-outline-dark {{#if_eq sortMode 'ASC'}} active{{/if_eq}}" href="/user/history?sort=ASC">
		    Cũ nhất
		  </a>
		</div>
		<table class="table history-list">
			<thead class="history-item">
				<tr header>
					<th class="item-code">Mã đơn hàng</th>
					<th class="item-totalprice">Tổng giá</th>
					<th class="item-status">Trạng thái</th>
					<th class="item-date">Ngày tạo</th>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
				<tr class="history-item">
					<td class="item-code"><a href="/order/{{this.id}}">{{this.id}}</a></td>
					<td class="item-totalprice">{{money this.cost}} VNĐ</td>
					<td class="item-status paid">{{this.status}}</td>
					<td class="item-date">
						<noscript>{{this.order_datetime}} UTC</noscript>
						<script>
							document.write(moment.utc("{{this.order_datetime}}").local().format("LLL"));
						</script>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</section>
	{{else}}
		<p class="mt-2">
		Không có lịch sử đơn hàng</p>
	{{/if}}
</div>