<div class="col-sm-12">
	<div class="order-box">
		<h3 class="order-title">Tạo đơn hàng</h3>
		<p>Quý khách vui lòng kiểm tra lại đầy đủ thông tin và nhấn nút "Đồng ý" để tiếp tục quá trình thanh toán</p>
		<hr>
		<form method="POST" action="/order/create">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="buyer-name" class="order-header">Người đặt</label>
						<input id="buyer-name" class="form-control-plaintext" type="text" value="{{info.buyer_name}}" readonly>
					</div>
					<div class="form-group">
						<label for="buyer-name" class="order-header">Người nhận</label>
						<input id="buyer-name" class="form-control " type="text" name="receiver_name" value="{{info.receiver_name}}" required>
					</div>
					<div class="form-group">
						<label for="buyer-name" class="order-header">SĐT Người nhận</label>
						<input id="buyer-name" class="form-control" type="text" name="receiver_phone" value="{{info.receiver_phone}}" required>
					</div>
					<div class="form-group">
						<label for="buyer-name" class="order-header">Email Người nhận</label>
						<input id="buyer-name" class="form-control" type="text" name="receiver_email" value="{{info.receiver_email}}" required>
					</div>
					<div class="form-group">
						<label for="buyer-name" class="order-header">Địa chỉ nhận hàng</label>
						<input id="buyer-name" class="form-control" type="text" name="receiver_address" value="{{info.receiver_address}}" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<table class="table table-order">
							<thead class="header">
								<tr>
									<th>Hình ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Số lượng</th>
									<th>Giá</th>
									<th>Tổng giá</th>
								</tr>
							</thead>
							<tbody>
								{{#each info.cart.items}}
								<tr>
									<td class="item-image"><img src="{{this.images}}"></td>
									<td>{{this.name}}</td>
									<td>{{this.product_quantity}}</td>
									<td>{{this.price}}</td>
									<td>{{this.totalPrice}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<label>Tổng tiền</label>
						<input type="text" class="form-control-plaintext" value="{{info.cart.totalCost}}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="Đặt hàng" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>