<div class="col-sm-12">
    <div class="row full-height">
        <div class="col-sm-5">
            <div class="product-image">
                <a href="#"> <img src="{{product.images}}" alt="" style="width:100%"></a>
            </div>
        </div>
        <div class="col-sm-7">
            <form action="/user/cart/create" method="POST" class="product-buy-box">
            	<input type="hidden" name="_csrf" value={{csrfToken}}>
                <input type="hidden" name="product_id" value="{{product.id}}">
                <div class="title">{{product.name}}</div>
                <div class="sub-box">
                    <div class="status">
                        Còn hàng
                    </div>
                </div>
                <hr style="width: 100%" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box description">
                            <div class="title">Mô tả</div>
                            {{product.description}}
                        </div>
                        <div class="box price">
                            <div class="title">Giá</div>
                            <div class="value">{{product.price}}</div>
                        </div>
                        <div class="add-cart">
                            <div class="quantity-control">
                                <button id="decrease">
                                    <svg preserveAspectRatio="none" viewbox="0 0 10 10">
                                        <line x1="0" y1="5" x2="10" y2="5" style="stroke:black;stroke-width:0.5" />
                                    </svg>
                                </button>
                                <input type="text" id="quantity" name="product_quantity" value="1">
                                <button id="increase">
                                    <svg preserveAspectRatio="none" viewbox="0 0 10 10">
                                        <line x1="0" y1="5" x2="10" y2="5" style="stroke:black;stroke-width:0.6" />
                                        <line x1="5" y1="0" x2="5" y2="10" style="stroke:black;stroke-width:0.6" />
                                    </svg>
                                </button>
                            </div>
                            <button class="cart-button" type="submit">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box view">
                            <div class="title">Số lượt xem</div>
                            <div class="value">{{product.view}}</div>
                        </div>
                        <div class="box origin">
                            <div class="title">Nguồn góc</div>
                            <div class="value">{{product.origin}}</div>
                        </div>
                        <div class="box vendor">
                            <div class="title">Nhà sản xuất</div>
                            <div class="value">{{product.vendor_name}}</div>
                        </div>
                        <div class="box category_name">
                            <div class="title">Loại</div>
                            <div class="value">{{product.category_name}}</div>
                        </div>
                        <div class="box sold">
                            <div class="title">Số lượng bán</div>
                            <div class="value">{{product.sold}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="stand-out">
        <h3>Sản phẩm cùng loại</h3>
        <hr>
        <div class="row">
        	{{#each product.sameCategory}}
            <div class="col-2m4">
                <div class="product-item">
                    <div class="img-wrapper">
                        <a href="/product/{{this.id}}"><img class="w-100" src="{{this.images}}">
							</a>
                    </div>
                    <div class="caption">
                        <div class="title">{{this.name}}</div>
                        <div class="price">{{this.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="stand-out">
        <h3>Sản phẩm cùng nhà sản xuất</h3>
        <hr>
        <div class="row">
        	{{#each product.sameVendor}}
            <div class="col-2m4">
                <div class="product-item">
                    <div class="img-wrapper">
                        <a href="/product/{{this.id}}"><img class="w-100" src="{{this.images}}">
							</a>
                    </div>
                    <div class="caption">
                        <div class="title">{{this.name}}</div>
                        <div class="price">{{this.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script>
var quantityElem = document.getElementById("quantity");
document.getElementById("increase").addEventListener("click", function(event) {
    var quantity = parseInt(quantityElem.value);
    if (isNaN(quantity) || quantity < 0)
        quantity = 0;
    quantityElem.value = quantity + 1;
    event.preventDefault();
});
document.getElementById("decrease").addEventListener("click", function(event) {
    var quantity = parseInt(quantityElem.value);
    if (isNaN(quantity) || quantity <= 1)
        quantity = 2;
    quantityElem.value = quantity - 1;
    event.preventDefault();
});
</script>